- FILTER SEMESTER (FIRST, SECOND, SUMMER, SUMMER2)
- grade_final should only have numerical values such as (1.00 -5.00 excluding 3.50), INC, and DRP.
- create new column, numerical_grade (Ilipat ang grade_reexam to grade_finals if INC).

COLUMNS TO BE CLEANED:
- grade_reexam
- grade_finals

CLEANED / FILTERED
- semester 
- schoolyear (with _x)
- drop schoolyear without - EXAMPLE ("2004")

EXTRACT DATA

In [1]:
from pyspark.sql import SparkSession

jdbc_url = "jdbc:postgresql://localhost:5432/local_student_grades"
properties = {
    "user": "postgres", 
    "password": "password",  
    "driver": "org.postgresql.Driver",
    "fetchsize": "10000"
}
postgres_driver_path = "C:\postgresql-42.7.5.jar"

def extract(jdbc_url, table_name, properties, postgres_driver_path):
    """ Extract data from PostgreSQL database using Spark."""
    # Initialize Spark session
    spark = SparkSession.builder \
        .appName("Postgres Connection") \
        .config("spark.jars", postgres_driver_path) \
        .config("spark.driver.memory", "8g") \
        .config("spark.executor.memory", "8g") \
        .config("spark.executor.memoryOverhead", "2g") \
        .config("spark.driver.memoryOverhead", "2g") \
        .getOrCreate()

    # Extracts data from PostgreSQL database
    df = spark.read.jdbc(
        url=jdbc_url,
        table=table_name,
        properties=properties,
    )
    
    return df, spark

In [2]:
# Extract data once
raw_df, spark = extract(jdbc_url, "raw_student_grades", properties, postgres_driver_path)

# Check the number of rows
row_count = raw_df.count()
print(f'Number of rows: {row_count}')

# Print schema
raw_df.printSchema()

Number of rows: 2009740
root
 |-- id: integer (nullable = true)
 |-- schoolyear: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- instructor_id: integer (nullable = true)
 |-- instructor: string (nullable = true)
 |-- srcode: integer (nullable = true)
 |-- fullname: string (nullable = true)
 |-- campus: string (nullable = true)
 |-- college: string (nullable = true)
 |-- program: string (nullable = true)
 |-- grade_final: string (nullable = true)
 |-- grade_reexam: string (nullable = true)
 |-- status: string (nullable = true)

In [3]:
raw_df.show()

+---+----------+--------+---------+--------------------+-------+-------------+--------------+------+------------------+---------+--------------------+--------------------+-----------+------------+------+
| id|schoolyear|semester|     code|         description|credits|instructor_id|    instructor|srcode|          fullname|   campus|             college|             program|grade_final|grade_reexam|status|
+---+----------+--------+---------+--------------------+-------+-------------+--------------+------+------------------+---------+--------------------+--------------------+-----------+------------+------+
|  1| 2021-2022|   FIRST| Educ 504|Philosophical and...|      3|         2913|LN2913, FN2913|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.00|           -|PASSED|
|  2| 2021-2022|   FIRST|Math 501 |Pre-Calculus Math...|      3|         2576|LN2576, FN2576|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.00|           -|PASSED|
|  3| 2021-2022|   FIRST| Educ 501|Research Methodology|      3|         3615|LN3615, FN3615|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.25|           -|PASSED|
|  4| 2022-2023|   FIRST|Math 506 |Differential Equa...|      3|         5438|LN5438, FN5438|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.25|           -|PASSED|
|  5| 2022-2023|   FIRST| Math 502|Modern Plane Geom...|      3|         1844|LN1844, FN1844|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.25|           -|PASSED|
|  6| 2022-2023|   FIRST| Math 507|Theory of Probabi...|      3|         1844|LN1844, FN1844|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.25|           -|PASSED|
|  7| 2021-2022|  SUMMER| Educ 509|Psychology of Tea...|      3|         5201|LN5201, FN5201|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.00|           -|PASSED|
|  8| 2021-2022|  SUMMER| Educ 502|Educational Measu...|      3|         2437|LN2437, FN2437|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.00|           -|PASSED|
|  9| 2021-2022|  SECOND| Math 503|Mathematical Anal...|      3|         5437|LN5437, FN5437|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.25|           -|PASSED|
| 10| 2021-2022|  SECOND| Math 505|Mathematical Anal...|      3|         5438|LN5438, FN5438|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.25|           -|PASSED|
| 11| 2021-2022|  SECOND| Math 504|Mathematical Anal...|      3|         3605|LN3605, FN3605|118442|LN118442, FN118442| PB      |     Graduate School|Master of Arts in...|       1.25|           -|PASSED|
| 12| 2022-2023|   FIRST| ENGG 414|   Numerical Methods|      3|         3857|LN3857, FN3857| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|       1.50|           -|PASSED|
| 13| 2022-2023|   FIRST|   ME 413|Materials Enginee...|      3|         3892|LN3892, FN3892| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|       2.25|           -|PASSED|
| 14| 2022-2023|   FIRST|   ME 414|       ME Elective 1|      2|         3907|LN3907, FN3907| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|       1.75|           -|PASSED|
| 15| 2022-2023|   FIRST|   ME 409|       Heat Transfer|      3|         3373|LN3373, FN3373| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|        INC|        3.00|PASSED|
| 16| 2022-2023|   FIRST|   ME 410|Combustion Engine...|      3|         3429|LN3429, FN3429| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|       3.00|           -|PASSED|
| 17| 2022-2023|   FIRST|   ME 415|     ME Laboratory 1|      1|         3120|LN3120, FN3120| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|       1.25|           -|PASSED|
| 18| 2022-2023|   FIRST|   ME 411|     Fluid Machinery|      3|         2423|LN2423, FN2423| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|        INC|        3.00|PASSED|
| 19| 2022-2023|   FIRST|   ME 412|    Machine Elements|      3|         1439|LN1439, FN1439| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|       3.00|           -|PASSED|
| 20| 2022-2023|   FIRST| ENGG 416|    Research Methods|      3|          866|  LN866, FN866| 90100|  LN90100, FN90100|ALANGILAN|College of Engine...|BS Mechanical Eng...|       3.00|           -|PASSED|
+---+----------+--------+---------+--------------------+-------+-------------+--------------+------+------------------+---------+--------------------+--------------------+-----------+------------+------+
only showing top 20 rows

In [4]:
from pyspark.sql.functions import col, upper

# Uppercase all supposed to be uppercase data just to be sure
df = raw_df.withColumn('grade_final', upper(col('grade_final')))\
                .withColumn('campus', upper(col('campus')))\
                .withColumn('semester', upper(col('semester')))\
                .withColumn('schoolyear', upper(col('schoolyear'))       
)

CHECK FOR TYPO ERROR AND UNWANTED VALUES UNDER semester COLUMN

In [5]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT semester, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY semester""")
show_data.show(22)

+---------------+----------+
|       semester|occurences|
+---------------+----------+
|          THURD|         1|
|          THIRD|        10|
|         SECOND|    770300|
|           1.75|         1|
|        SUMMER2|        43|
|           1.25|         1|
|SECOND SEMESTER|         1|
|       SECOND_X|         4|
|         SUMMER|     56200|
|             --|         1|
|          FIRST|   1183177|
|THIRD TRIMESTER|         1|
+---------------+----------+

FILTER TYPO ERRORS AND INSTANCES FOR SECOND SEMESTER, AND REMOVE ROWS WITH INVALID semester VALUES

In [6]:
from pyspark.sql.functions import when

valid_semesters = ["FIRST", "SECOND", "SUMMER", "SUMMER2"]
df = df.withColumn(
    "semester",
    when(df["semester"].isin("SECOND_X", "SECOND SEMESTER"), "SECOND")
    .when(df["semester"].isin(valid_semesters), df["semester"])
    .otherwise(None)  # Assign None to invalid semesters so they can be filtered
).filter(col("semester").isNotNull())  # Remove rows where semester is None (invalid)

In [7]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT semester, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY semester""")
show_data.show()

+--------+----------+
|semester|occurences|
+--------+----------+
|  SECOND|    770305|
| SUMMER2|        43|
|  SUMMER|     56200|
|   FIRST|   1183177|
+--------+----------+

CHECK FOR SPECIAL CHARACTERS AND CATEGORICAL DATA IN grade_final COLUMN

In [8]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT grade_final, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY grade_final 
                         ORDER BY grade_final DESC""")
show_data.show(22)

+-----------+----------+
|grade_final|occurences|
+-----------+----------+
|     PASSED|       255|
|          P|        27|
|         OG|      1581|
|        INC|     60402|
|          F|         1|
|        DRP|      2907|
|       5.00|     15360|
|       4.00|       142|
|       3.50|         1|
|       3.00|    118143|
|       2.75|     90548|
|       2.50|    177289|
|       2.25|    160248|
|       2.00|    289305|
|       1.75|    259871|
|       1.50|    452501|
|       1.25|    317688|
|       1.00|     63424|
|         --|         2|
|          -|        19|
|        -- |        11|
+-----------+----------+

REMOVE WHITE SPACES FROM ALL THE COLUMNS

In [9]:
from pyspark.sql.functions import trim

df = df.withColumn('schoolyear', trim('schoolyear'))\
.withColumn('semester', trim('semester'))\
.withColumn('code', trim('code'))\
.withColumn('description', trim('description'))\
.withColumn('credits', trim('credits'))\
.withColumn('instructor_id', trim('instructor_id'))\
.withColumn('instructor', trim('instructor'))\
.withColumn('srcode', trim('srcode'))\
.withColumn('fullname', trim('fullname'))\
.withColumn('campus', trim('campus'))\
.withColumn('college', trim('college'))\
.withColumn('program', trim('program'))\
.withColumn('grade_final', trim('grade_final'))\
.withColumn('grade_reexam', trim('grade_reexam'))\
.withColumn('status', trim('status'))

In [10]:
df.createOrReplaceTempView('raw_student_grades')

show_data = spark.sql("SELECT * FROM raw_student_grades")
show_data.show(22)

+----+----------+--------+--------+--------------------+-------+-------------+--------------+------+------------------+------+--------------------+--------------------+-----------+------------+------+
|  id|schoolyear|semester|    code|         description|credits|instructor_id|    instructor|srcode|          fullname|campus|             college|             program|grade_final|grade_reexam|status|
+----+----------+--------+--------+--------------------+-------+-------------+--------------+------+------------------+------+--------------------+--------------------+-----------+------------+------+
|9901| 2021-2022|  SECOND|  Ed 102|The Teaching Prof...|      3|         2342|LN2342, FN2342|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.25|           -|PASSED|
|9902| 2021-2022|  SECOND|  PE 102| Rhythmic Activities|      2|         2362|LN2362, FN2362|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.25|           -|PASSED|
|9903| 2022-2023|  SECOND|Fili 102|Filipino sa Iba't...|      3|         4389|LN4389, FN4389|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.25|           -|PASSED|
|9904| 2021-2022|  SECOND| GEd 106|Purposive Communi...|      3|         1980|LN1980, FN1980|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.75|           -|PASSED|
|9905| 2021-2022|  SECOND|Litr 101|Sosyedad at Liter...|      3|         2157|LN2157, FN2157|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9906| 2021-2022|  SECOND| GEd 104|The Contemporary ...|      3|         2158|LN2158, FN2158|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.25|           -|PASSED|
|9907| 2021-2022|  SECOND| GEd 105|Readings in Phili...|      3|         2158|LN2158, FN2158|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9908| 2023-2024|   FIRST|Fili 103|Retorika - Masini...|      3|         2157|LN2157, FN2157|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9909| 2023-2024|   FIRST|  Ed 109|Assessment in Lea...|      3|         1813|LN1813, FN1813|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9910| 2023-2024|   FIRST| SEd 315|Research in Scien...|      3|         2020|LN2020, FN2020|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9911| 2023-2024|   FIRST| SEd 311|Cell and Molecula...|      4|         2021|LN2021, FN2021|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9912| 2023-2024|   FIRST| SEd 312|    Waves and Optics|      4|         1519|LN1519, FN1519|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       2.50|           -|PASSED|
|9913| 2023-2024|   FIRST| SEd 314|         Meteorology|      3|         1519|LN1519, FN1519|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       2.50|           -|PASSED|
|9914| 2021-2022|  SUMMER| SEd 132|     Fluid Mechanics|      3|         1519|LN1519, FN1519|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9915| 2021-2022|  SUMMER| SEd 131|       Earth Science|      3|         3478|LN3478, FN3478|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.25|           -|PASSED|
|9916| 2023-2024|  SECOND| SEd 321|Technology Applic...|      3|         4148|LN4148, FN4148|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9917| 2023-2024|  SECOND| SEd 324|Anatomy and Physi...|      4|         4148|LN4148, FN4148|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.75|           -|PASSED|
|9918| 2022-2023|   FIRST| SEd 211|      Thermodynamics|      4|         1519|LN1519, FN1519|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.75|           -|PASSED|
|9919| 2022-2023|   FIRST| GEd 107|              Ethics|      3|         2158|LN2158, FN2158|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.25|           -|PASSED|
|9920| 2022-2023|   FIRST|  Ed 104|Assessment in Lea...|      3|         1813|LN1813, FN1813|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
|9921| 2022-2023|   FIRST|  PE 103|Individual and Du...|      2|         1943|LN1943, FN1943|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.25|           -|PASSED|
|9922| 2022-2023|   FIRST|  Ed 105|Facilitating Lear...|      3|         1980|LN1980, FN1980|121285|LN121285, FN121285|MALVAR|College of Teache...|Bachelor of Secon...|       1.50|           -|PASSED|
+----+----------+--------+--------+--------------------+-------+-------------+--------------+------+------------------+------+--------------------+--------------------+-----------+------------+------+
only showing top 22 rows

In [11]:
df.createOrReplaceTempView('raw_student_grades')

show_data = spark.sql("""SELECT schoolyear, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY schoolyear 
                         ORDER BY schoolyear DESC""")

show_data.show(50)

+-----------+----------+
| schoolyear|occurences|
+-----------+----------+
|  2024-2025|    392358|
|2023-2024_X|         4|
|  2023-2024|    698500|
|  2022-2023|    551385|
|  2021-2022|    306076|
|  2020-2021|     45721|
|  2019-2022|         1|
|  2019-2020|     10394|
|  2018-2019|      2550|
|  2017-2018|       759|
|  2016-2017|       606|
|  2015-2016|       681|
|  2014-2015|       266|
|  2013-2014|       103|
|  2012-2013|        99|
|  2011-2012|        56|
|  2010-2011|        36|
|  2009-2010|        21|
|  2008-2009|        12|
|  2007-2008|        17|
|  2006-2007|         2|
|  2005-2006|         3|
|  2004-2005|        23|
|       2004|         1|
|  2003-2004|        23|
|  2002-2003|        12|
|  2001-2002|         4|
|  2000-2001|         8|
|  1999-2000|         4|
+-----------+----------+

FILTERING schoolyear AND REMOVE/REPLACE UNWANTED VALUES

In [12]:
from pyspark.sql.functions import regexp_extract, col

# 1. Extract the YYYY-YYYY pattern (handles cases with trailing _X)
df = df.withColumn(
    "schoolyear", regexp_extract(col("schoolyear"), r"(\d{4}-\d{4})", 1)
)

# 2. Filter out rows WITHOUT the YYYY-YYYY pattern
schoolyear_regex = r"^\d{4}-\d{4}$"  # Regex for exact YYYY-YYYY format
df = df.filter(col("schoolyear").rlike(schoolyear_regex))  # Keep only matching rows

In [13]:
df.createOrReplaceTempView('raw_student_grades')

show_data = spark.sql("""SELECT schoolyear, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY schoolyear 
                         ORDER BY schoolyear DESC""")

show_data.show(50)

+----------+----------+
|schoolyear|occurences|
+----------+----------+
| 2024-2025|    392358|
| 2023-2024|    698504|
| 2022-2023|    551385|
| 2021-2022|    306076|
| 2020-2021|     45721|
| 2019-2022|         1|
| 2019-2020|     10394|
| 2018-2019|      2550|
| 2017-2018|       759|
| 2016-2017|       606|
| 2015-2016|       681|
| 2014-2015|       266|
| 2013-2014|       103|
| 2012-2013|        99|
| 2011-2012|        56|
| 2010-2011|        36|
| 2009-2010|        21|
| 2008-2009|        12|
| 2007-2008|        17|
| 2006-2007|         2|
| 2005-2006|         3|
| 2004-2005|        23|
| 2003-2004|        23|
| 2002-2003|        12|
| 2001-2002|         4|
| 2000-2001|         8|
| 1999-2000|         4|
+----------+----------+

In [14]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(80)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|       1.50|           -|    452457|
|       1.25|           -|    317624|
|       2.00|           -|    289284|
|       1.75|           -|    259850|
|       2.50|           -|    177260|
|       2.25|           -|    160236|
|       3.00|           -|    118116|
|       2.75|           -|     90523|
|       1.00|           -|     63412|
|        INC|        3.00|     35140|
|        INC|        5.00|     16175|
|       5.00|           -|     15352|
|        DRP|           -|      2902|
|        INC|           -|      1867|
|         OG|           -|      1581|
|        INC|        2.50|      1469|
|        INC|        2.75|      1437|
|        INC|        2.00|      1294|
|        INC|        2.25|       904|
|        INC|        1.75|       893|
|        INC|        1.50|       847|
|        INC|        1.25|       310|
|     PASSED|           -|       255|
|       4.00|        3.00|       117|
|       1.25|          --|        62|
|        INC|        1.00|        51|
|       1.50|          --|        37|
|          P|           -|        27|
|       4.00|        5.00|        25|
|       2.50|        NULL|        22|
|       3.00|        NULL|        18|
|          -|           -|        15|
|       1.75|          --|        15|
|       2.75|        NULL|        14|
|         --|          --|        13|
|        INC|          --|        12|
|       1.00|          --|        12|
|       2.00|        NULL|        11|
|       2.75|          --|         9|
|       3.00|          --|         9|
|       2.25|        NULL|         9|
|       2.00|          --|         7|
|       2.50|          --|         7|
|       5.00|          --|         7|
|       1.50|        NULL|         6|
|       1.75|        NULL|         5|
|        DRP|          --|         5|
|        INC|        NULL|         3|
|       2.25|          --|         3|
|       2.00|        1.50|         2|
|          -|        1.00|         1|
|       1.75|         INC|         1|
|       3.50|           -|         1|
|       1.50|        null|         1|
|          -|        1.50|         1|
|       1.25|        NULL|         1|
|       2.75|        1.50|         1|
|          -|        1.25|         1|
|          F|           -|         1|
|       5.00|        null|         1|
|       2.00|        null|         1|
|       2.75|         INC|         1|
|          -|        2.00|         1|
+-----------+------------+----------+

In [15]:
total_count = df.count()
print(f"Total instances: {total_count}")

Total instances: 2009724

CREATING grade_numeric and grade_classification COLUMNS and inserting values accordingly

In [16]:
from pyspark.sql.functions import when, col, regexp_extract, lit, coalesce, isnull, format_number

# 1. Filter out rows with invalid grade_final values (excluding "-", "--")
invalid_grades = ["PASSED", "P", "OG", "F"]
df = df.filter(~col("grade_final").isin(invalid_grades))

# 2. Create the 'grade_numeric' column
df = df.withColumn(
    "grade_numeric",
    when(
        (df["grade_reexam"].isNotNull()) & (~df["grade_reexam"].isin(invalid_grades)) & (df["grade_reexam"].rlike(r"^\d+\.?\d*$")),
        regexp_extract(df["grade_reexam"], r"(\d+\.?\d*)", 1)
    ).when(
        (~df["grade_final"].isin("DRP", "INC")) & (df["grade_final"].rlike(r"^\d+\.?\d*$")),
        regexp_extract(df["grade_final"], r"(\d+\.?\d*)", 1)
    ).when(
       (df["grade_final"] == "INC") & (df["grade_reexam"].isNotNull()) & (~df["grade_reexam"].isin(invalid_grades)) & (df["grade_reexam"].rlike(r"^\d+\.?\d*$")),
        regexp_extract(df["grade_reexam"], r"(\d+\.?\d*)", 1)
    )
    .otherwise(None)
).withColumn("grade_numeric", col("grade_numeric").cast("double")).fillna({"grade_numeric": 0.0})


# 3. Filter valid numeric grades
valid_numeric_grades = ['1.00','1.25','1.50','1.75','2.00','2.25','2.50','2.75','3.00','4.00','5.00']
df = df.filter(
    when(~df["grade_numeric"].isin(0.0), df["grade_numeric"].isin([float(x) for x in valid_numeric_grades])).otherwise(True)
)


# Format grade_numeric to two decimal places x.xx
df = df.withColumn("grade_numeric", format_number("grade_numeric", 2))


# 4. Create the 'grade_classification' column
df = df.withColumn(
    "grade_classification",
    when(
        (df["grade_final"].rlike(r"^\d+\.\d+$")) & (isnull(df["grade_reexam"]) | (df["grade_reexam"].isin(invalid_grades))), 0  # Normal
    ).when(
         (df["grade_final"].isin(["-", "--"])) & (df["grade_reexam"].rlike(r"^\d+\.\d+$")), 0 # Normal case when grade_final is - or -- but grade_reexam has valid grade
    ).when(
        (df["grade_final"] == "INC") & (df["grade_reexam"].rlike(r"^\d+\.\d+$")), 1  # INC/x.xx, complied
    ).when(
        df["grade_final"] == "DRP", 2  # Dropped
    ).when(
        (df["grade_final"].rlike(r"^\d+\.\d+$")) & (df["grade_reexam"] == "INC") |  #Misinput INC
        (df["grade_final"].rlike(r"^\d+\.\d+$")) & (df["grade_reexam"].isin(invalid_grades)), 1 # Late to comply...
    ).otherwise(3)  # Reexam result
)

In [17]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- schoolyear: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: string (nullable = true)
 |-- instructor_id: string (nullable = true)
 |-- instructor: string (nullable = true)
 |-- srcode: string (nullable = true)
 |-- fullname: string (nullable = true)
 |-- campus: string (nullable = true)
 |-- college: string (nullable = true)
 |-- program: string (nullable = true)
 |-- grade_final: string (nullable = true)
 |-- grade_reexam: string (nullable = true)
 |-- status: string (nullable = true)
 |-- grade_numeric: string (nullable = true)
 |-- grade_classification: integer (nullable = false)

In [18]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT grade_final, grade_reexam, grade_numeric, grade_classification, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY grade_final, grade_reexam, grade_numeric, grade_classification
                         ORDER BY occurences DESC""")
show_data.show(80)

+-----------+------------+-------------+--------------------+----------+
|grade_final|grade_reexam|grade_numeric|grade_classification|occurences|
+-----------+------------+-------------+--------------------+----------+
|       1.50|           -|         1.50|                   3|    452457|
|       1.25|           -|         1.25|                   3|    317624|
|       2.00|           -|         2.00|                   3|    289284|
|       1.75|           -|         1.75|                   3|    259850|
|       2.50|           -|         2.50|                   3|    177260|
|       2.25|           -|         2.25|                   3|    160236|
|       3.00|           -|         3.00|                   3|    118116|
|       2.75|           -|         2.75|                   3|     90523|
|       1.00|           -|         1.00|                   3|     63412|
|        INC|        3.00|         3.00|                   1|     35140|
|        INC|        5.00|         5.00|                   1|     16175|
|       5.00|           -|         5.00|                   3|     15352|
|        DRP|           -|         0.00|                   2|      2902|
|        INC|           -|         0.00|                   3|      1867|
|        INC|        2.50|         2.50|                   1|      1469|
|        INC|        2.75|         2.75|                   1|      1437|
|        INC|        2.00|         2.00|                   1|      1294|
|        INC|        2.25|         2.25|                   1|       904|
|        INC|        1.75|         1.75|                   1|       893|
|        INC|        1.50|         1.50|                   1|       847|
|        INC|        1.25|         1.25|                   1|       310|
|       4.00|        3.00|         3.00|                   3|       117|
|       1.25|          --|         1.25|                   3|        62|
|        INC|        1.00|         1.00|                   1|        51|
|       1.50|          --|         1.50|                   3|        37|
|       4.00|        5.00|         5.00|                   3|        25|
|       2.50|        NULL|         2.50|                   0|        22|
|       3.00|        NULL|         3.00|                   0|        18|
|          -|           -|         0.00|                   3|        15|
|       1.75|          --|         1.75|                   3|        15|
|       2.75|        NULL|         2.75|                   0|        14|
|         --|          --|         0.00|                   3|        13|
|        INC|          --|         0.00|                   3|        12|
|       1.00|          --|         1.00|                   3|        12|
|       2.00|        NULL|         2.00|                   0|        11|
|       2.75|          --|         2.75|                   3|         9|
|       2.25|        NULL|         2.25|                   0|         9|
|       3.00|          --|         3.00|                   3|         9|
|       2.50|          --|         2.50|                   3|         7|
|       2.00|          --|         2.00|                   3|         7|
|       5.00|          --|         5.00|                   3|         7|
|       1.50|        NULL|         1.50|                   0|         6|
|        DRP|          --|         0.00|                   2|         5|
|       1.75|        NULL|         1.75|                   0|         5|
|       2.25|          --|         2.25|                   3|         3|
|        INC|        NULL|         0.00|                   3|         3|
|       2.00|        1.50|         1.50|                   3|         2|
|       2.75|         INC|         2.75|                   1|         1|
|       5.00|        null|         5.00|                   3|         1|
|          -|        1.00|         1.00|                   0|         1|
|       2.75|        1.50|         1.50|                   3|         1|
|          -|        1.25|         1.25|                   0|         1|
|       2.00|        null|         2.00|                   3|         1|
|          -|        1.50|         1.50|                   0|         1|
|       1.75|         INC|         1.75|                   1|         1|
|       1.50|        null|         1.50|                   3|         1|
|          -|        2.00|         2.00|                   0|         1|
|       1.25|        NULL|         1.25|                   0|         1|
+-----------+------------+-------------+--------------------+----------+

In [19]:
total_count = df.count()
print(f"Total instances: {total_count}")

Total instances: 2007859

FILTER OUT (OG, P, Passed, F, DRP)

In [20]:
# Filter out the data that is not included on the list
allowed_data = ['1.00','1.25','1.50',
                '1.75','2.00','2.25',
                '2.50','2.75','3.00',
                '4.00','5.00', 'INC', 'DRP']

CONVERT "NULL" STRINGS INTO ACTUAL NULL

In [21]:
from pyspark.sql.functions import when

df = df.withColumn("campus", when(col("campus") == "NULL", None).otherwise(col("campus")))

In [22]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         WHERE grade_reexam = '-' OR grade_reexam = '--' OR grade_reexam = 'NULL' OR grade_reexam IS NULL
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(50)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|       1.50|           -|    452457|
|       1.25|           -|    317624|
|       2.00|           -|    289284|
|       1.75|           -|    259850|
|       2.50|           -|    177260|
|       2.25|           -|    160236|
|       3.00|           -|    118116|
|       2.75|           -|     90523|
|       1.00|           -|     63412|
|       5.00|           -|     15352|
|        DRP|           -|      2902|
|        INC|           -|      1867|
|       1.25|          --|        62|
|       1.50|          --|        37|
|       2.50|        NULL|        22|
|       3.00|        NULL|        18|
|          -|           -|        15|
|       1.75|          --|        15|
|       2.75|        NULL|        14|
|         --|          --|        13|
|        INC|          --|        12|
|       1.00|          --|        12|
|       2.00|        NULL|        11|
|       2.75|          --|         9|
|       3.00|          --|         9|
|       2.25|        NULL|         9|
|       2.00|          --|         7|
|       2.50|          --|         7|
|       5.00|          --|         7|
|       1.50|        NULL|         6|
|       1.75|        NULL|         5|
|        DRP|          --|         5|
|        INC|        NULL|         3|
|       2.25|          --|         3|
|       1.25|        NULL|         1|
+-----------+------------+----------+

ONLY ALLOW NUMERICAL STRINGS IN GRADE_REEXAM COLUMN

In [23]:
df = df.withColumn(
    "grade_reexam", when(col("grade_reexam").rlike("^[0-9]*\.?[0-9]+$"), col("grade_reexam")).otherwise(None)
)

In [24]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         WHERE grade_final = 'INC' OR grade_final = 'DRP' 
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(22)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|        INC|        3.00|     35140|
|        INC|        5.00|     16175|
|        DRP|        NULL|      2907|
|        INC|        NULL|      1882|
|        INC|        2.50|      1469|
|        INC|        2.75|      1437|
|        INC|        2.00|      1294|
|        INC|        2.25|       904|
|        INC|        1.75|       893|
|        INC|        1.50|       847|
|        INC|        1.25|       310|
|        INC|        1.00|        51|
+-----------+------------+----------+

In [25]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM raw_student_grades
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(22)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|       1.50|        NULL|    452501|
|       1.25|        NULL|    317687|
|       2.00|        NULL|    289303|
|       1.75|        NULL|    259871|
|       2.50|        NULL|    177289|
|       2.25|        NULL|    160248|
|       3.00|        NULL|    118143|
|       2.75|        NULL|     90547|
|       1.00|        NULL|     63424|
|        INC|        3.00|     35140|
|        INC|        5.00|     16175|
|       5.00|        NULL|     15360|
|        DRP|        NULL|      2907|
|        INC|        NULL|      1882|
|        INC|        2.50|      1469|
|        INC|        2.75|      1437|
|        INC|        2.00|      1294|
|        INC|        2.25|       904|
|        INC|        1.75|       893|
|        INC|        1.50|       847|
|        INC|        1.25|       310|
|       4.00|        3.00|       117|
+-----------+------------+----------+
only showing top 22 rows

In [26]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT schoolyear, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         WHERE schoolyear = '2023-2024_x' 
                         GROUP BY schoolyear
                         ORDER BY occurences DESC""")
show_data.show(22)

+----------+----------+
|schoolyear|occurences|
+----------+----------+
+----------+----------+

In [27]:
df.createOrReplaceTempView('raw_student_grades')
show_data = spark.sql("""SELECT campus, COUNT(*) AS occurences 
                         FROM raw_student_grades 
                         GROUP BY campus
                         ORDER BY occurences DESC""")

show_data.show()

+---------+----------+
|   campus|occurences|
+---------+----------+
|ALANGILAN|    745300|
|       PB|    530649|
|  NASUGBU|    239742|
|   MALVAR|    189020|
|     LIPA|    155627|
|  ROSARIO|     41678|
|   LEMERY|     36747|
|  BALAYAN|     27566|
| SAN JUAN|     16036|
|     LOBO|     12597|
|     NULL|      8162|
|   MABINI|      4735|
+---------+----------+

In [28]:
filtered_df = df.withColumn("credits",df.credits.cast('int'))\
    .withColumn("grade_numeric", df.grade_numeric.cast('double'))

In [29]:
filtered_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- schoolyear: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- instructor_id: string (nullable = true)
 |-- instructor: string (nullable = true)
 |-- srcode: string (nullable = true)
 |-- fullname: string (nullable = true)
 |-- campus: string (nullable = true)
 |-- college: string (nullable = true)
 |-- program: string (nullable = true)
 |-- grade_final: string (nullable = true)
 |-- grade_reexam: string (nullable = true)
 |-- status: string (nullable = true)
 |-- grade_numeric: double (nullable = true)
 |-- grade_classification: integer (nullable = false)