- FILTER SEMESTER (FIRST, SECOND, SUMMER, SUMMER2)
- grade_final should only have numerical values such as (1.00 -5.00 excluding 3.50), INC, and DRP.
- create new column, numerical_grade (Ilipat ang grade_reexam to grade_finals if INC).

COLUMNS TO BE CLEANED:
- grade_reexam
- grade_finals

CLEANED / FILTERED
- semester 
- schoolyear (with _x)
- drop schoolyear without - EXAMPLE ("2004")

EXTRACT DATA

In [61]:
from pyspark.sql import SparkSession

jdbc_url = "jdbc:postgresql://192.168.20.11:5432/demo_db"
properties = {
    "user": "postgres", 
    "password": "postgres",  
    "driver": "org.postgresql.Driver",
    "fetchsize": "10000"
}
postgres_driver_path = "C:\postgresql-42.7.5.jar"



def extract(jdbc_url, table_name, properties, postgres_driver_path):
    """ Extract data from PostgreSQL database using Spark."""
    # Initialize Spark session
    spark = SparkSession.builder \
        .appName("Postgres Connection") \
        .config("spark.jars", postgres_driver_path) \
        .config("spark.driver.memory", "8g") \
        .config("spark.executor.memory", "8g") \
        .config("spark.executor.memoryOverhead", "2g") \
        .config("spark.driver.memoryOverhead", "2g") \
        .getOrCreate()

    # Extracts data from PostgreSQL database
    df = spark.read.jdbc(
        url=jdbc_url,
        table=table_name,
        properties=properties,
    )
    
    return df, spark

In [62]:
# Extract data once
raw_df, spark = extract(jdbc_url, "sample_data_ai_with_id", properties, postgres_driver_path)

# Check the number of rows
row_count = raw_df.count()
print(f'Number of rows: {row_count}')

# Print schema
raw_df.printSchema()

Number of rows: 2009740
root
 |-- id: integer (nullable = true)
 |-- schoolyear: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- instructor_id: string (nullable = true)
 |-- instructor: string (nullable = true)
 |-- srcode: string (nullable = true)
 |-- fullname: string (nullable = true)
 |-- campus: string (nullable = true)
 |-- college: string (nullable = true)
 |-- program: string (nullable = true)
 |-- grade_final: string (nullable = true)
 |-- grade_reexam: string (nullable = true)
 |-- status: string (nullable = true)

In [63]:
raw_df.show()

+------+----------+--------+----------+--------------------+-------+-------------+--------------+------+------------------+---------+--------------------+-------------------+-----------+------------+------+
|    id|schoolyear|semester|      code|         description|credits|instructor_id|    instructor|srcode|          fullname|   campus|             college|            program|grade_final|grade_reexam|status|
+------+----------+--------+----------+--------------------+-------+-------------+--------------+------+------------------+---------+--------------------+-------------------+-----------+------------+------+
|103827| 2021-2022|   FIRST|  ENGG 401|Introduction to E...|      1|         1436|LN1436, FN1436|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       2.00|           -|PASSED|
|103828| 2021-2022|   FIRST|    PE 101|Physical Fitness,...|      2|         1320|LN1320, FN1320|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.25|           -|PASSED|
|103829| 2021-2022|   FIRST|   GEd 102|Mathematics in th...|      3|         3224|LN3224, FN3224|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       2.00|           -|PASSED|
|103830| 2021-2022|   FIRST|   SCI 401|   General Chemistry|      4|         3104|LN3104, FN3104|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       2.00|           -|PASSED|
|103831| 2023-2024|  SUMMER|  ENGG 404|Engineering Econo...|      3|         4446|LN4446, FN4446|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.75|           -|PASSED|
|103832| 2023-2024|  SUMMER|    FE 411|Food Process Indu...|      3|         2464|LN2464, FN2464|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.75|           -|PASSED|
|103833| 2021-2022|  SECOND|    PE 102| Rhythmic Activities|      2|         1320|LN1320, FN1320|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.00|           -|PASSED|
|103834| 2021-2022|  SECOND|  ENGG 402| Engineering Drawing|      1|         2132|LN2132, FN2132|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.50|           -|PASSED|
|103835| 2021-2022|  SECOND|   GEd 109|Science, Technolo...|      3|         2564|LN2564, FN2564|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.75|           -|PASSED|
|103836| 2021-2022|  SECOND|NSTP 121RO|NSTP - Reserve Of...|      3|         2486|LN2486, FN2486|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.50|           -|PASSED|
|103837| 2023-2024|   FIRST|  ENGG 412|Materials Science...|      3|         1961|LN1961, FN1961|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.75|           -|PASSED|
|103838| 2023-2024|   FIRST|   ChE 434|Heat and Mass Tra...|      3|         1436|LN1436, FN1436|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|        INC|        3.00|PASSED|
|103839| 2023-2024|   FIRST|  ENGG 416|    Research Methods|      3|         1436|LN1436, FN1436|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.50|           -|PASSED|
|103840| 2023-2024|   FIRST|  ENGG 409|Engineering Mecha...|      3|         4446|LN4446, FN4446|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.25|           -|PASSED|
|103841| 2023-2024|   FIRST|    FE 407|Computer Applicat...|      1|         4468|LN4468, FN4468|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       2.00|           -|PASSED|
|103842| 2023-2024|   FIRST|    FE 406|   Food Processing 1|      3|         4172|LN4172, FN4172|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.75|           -|PASSED|
|103843| 2023-2024|   FIRST|  Fili 102|Filipino sa Iba't...|      3|         3214|LN3214, FN3214|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       1.25|           -|PASSED|
|103844| 2023-2024|   FIRST|    ME 431|      Thermodynamics|      3|          539|  LN539, FN539|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       2.75|           -|PASSED|
|103845| 2023-2024|   FIRST|    FE 405|   Food Microbiology|      4|          624|  LN624, FN624|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       2.75|           -|PASSED|
|103846| 2024-2025|   FIRST|    FE 413|Post-Harvest Hand...|      3|         2464|LN2464, FN2464|105282|LN105282, FN105282|ALANGILAN|College of Engine...|BS Food Engineering|       2.25|           -|PASSED|
+------+----------+--------+----------+--------------------+-------+-------------+--------------+------+------------------+---------+--------------------+-------------------+-----------+------------+------+
only showing top 20 rows

In [64]:
total_count = raw_df.count()
print(f"Total instances: {total_count}")

Total instances: 2009740

In [65]:
from pyspark.sql.functions import col, upper

# Uppercase all supposed to be uppercase data just to be sure
df = raw_df.withColumn('grade_final', upper(col('grade_final')))\
                .withColumn('campus', upper(col('campus')))\
                .withColumn('semester', upper(col('semester')))\
                .withColumn('schoolyear', upper(col('schoolyear'))       
)

CHECK FOR TYPO ERROR AND UNWANTED VALUES UNDER semester COLUMN

In [66]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT semester, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY semester""")
show_data.show(22)

+---------------+----------+
|       semester|occurences|
+---------------+----------+
|          THURD|         1|
|          THIRD|        10|
|         SECOND|    770300|
|           1.75|         1|
|        SUMMER2|        43|
|           1.25|         1|
|SECOND SEMESTER|         1|
|       SECOND_X|         4|
|         SUMMER|     56200|
|             --|         1|
|          FIRST|   1183177|
|THIRD TRIMESTER|         1|
+---------------+----------+

FILTER TYPO ERRORS AND INSTANCES FOR SECOND SEMESTER, AND REMOVE ROWS WITH INVALID semester VALUES

In [67]:
from pyspark.sql.functions import when

valid_semesters = ["FIRST", "SECOND", "SUMMER", "SUMMER2"]
df = df.withColumn(
    "semester",
    when(df["semester"].isin("SECOND_X", "SECOND SEMESTER"), "SECOND")
    .when(df["semester"].isin(valid_semesters), df["semester"])
    .otherwise(None)  # Assign None to invalid semesters so they can be filtered
).filter(col("semester").isNotNull())  # Remove rows where semester is None (invalid)

In [68]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT semester, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY semester""")
show_data.show()

+--------+----------+
|semester|occurences|
+--------+----------+
|  SECOND|    770305|
| SUMMER2|        43|
|  SUMMER|     56200|
|   FIRST|   1183177|
+--------+----------+

CHECK FOR SPECIAL CHARACTERS AND CATEGORICAL DATA IN grade_final COLUMN

In [69]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT grade_final, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY grade_final 
                         ORDER BY grade_final DESC""")
show_data.show(22)

+-----------+----------+
|grade_final|occurences|
+-----------+----------+
|     PASSED|       255|
|          P|        27|
|         OG|      1581|
|        INC|     60402|
|          F|         1|
|        DRP|      2907|
|       5.00|     15360|
|       4.00|       142|
|       3.50|         1|
|       3.00|    118143|
|       2.75|     90548|
|       2.50|    177289|
|       2.25|    160248|
|       2.00|    289305|
|       1.75|    259871|
|       1.50|    452501|
|       1.25|    317688|
|       1.00|     63424|
|         --|         2|
|          -|        19|
|        -- |        11|
+-----------+----------+

REMOVE WHITE SPACES FROM ALL THE COLUMNS

In [70]:
from pyspark.sql.functions import trim

df = df.withColumn('schoolyear', trim('schoolyear'))\
.withColumn('semester', trim('semester'))\
.withColumn('code', trim('code'))\
.withColumn('description', trim('description'))\
.withColumn('credits', trim('credits'))\
.withColumn('instructor_id', trim('instructor_id'))\
.withColumn('instructor', trim('instructor'))\
.withColumn('srcode', trim('srcode'))\
.withColumn('fullname', trim('fullname'))\
.withColumn('campus', trim('campus'))\
.withColumn('college', trim('college'))\
.withColumn('program', trim('program'))\
.withColumn('grade_final', trim('grade_final'))\
.withColumn('grade_reexam', trim('grade_reexam'))\
.withColumn('status', trim('status'))

In [71]:
df.createOrReplaceTempView('sample_data_ai_with_id')

show_data = spark.sql("SELECT * FROM sample_data_ai_with_id")
show_data.show(22)

+------+----------+--------+----------+--------------------+-------+-------------+--------------+------+------------------+-------+--------------------+--------------------+-----------+------------+------+
|    id|schoolyear|semester|      code|         description|credits|instructor_id|    instructor|srcode|          fullname| campus|             college|             program|grade_final|grade_reexam|status|
+------+----------+--------+----------+--------------------+-------+-------------+--------------+------+------------------+-------+--------------------+--------------------+-----------+------------+------+
|114277| 2024-2025|   FIRST|    IT 111|Introduction to C...|      3|         4627|LN4627, FN4627|160815|LN160815, FN160815|   LIPA|College of Inform...|BS Information Te...|       2.75|           -|PASSED|
|114278| 2024-2025|   FIRST|   GEd 104|The Contemporary ...|      3|         4523|LN4523, FN4523|160815|LN160815, FN160815|   LIPA|College of Inform...|BS Information Te...|       1.75|           -|PASSED|
|114279| 2024-2025|   FIRST|   GEd 103|Life and Works of...|      3|         5062|LN5062, FN5062|160815|LN160815, FN160815|   LIPA|College of Inform...|BS Information Te...|       1.50|           -|PASSED|
|114280| 2024-2025|   FIRST|NSTP 111CW|NSTP - Civic Welf...|      3|         2974|LN2974, FN2974|160815|LN160815, FN160815|   LIPA|College of Inform...|BS Information Te...|       1.50|           -|PASSED|
|114281| 2024-2025|   FIRST|   GEd 108|    Art Appreciation|      3|         4057|LN4057, FN4057|160815|LN160815, FN160815|   LIPA|College of Inform...|BS Information Te...|       2.00|           -|PASSED|
|114282| 2023-2024|   FIRST|    Ed 102|The Teaching Prof...|      3|         2215|LN2215, FN2215|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       1.75|           -|PASSED|
|114283| 2023-2024|   FIRST|   PEd 111|Philosophical and...|      3|         2215|LN2215, FN2215|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       1.50|           -|PASSED|
|114284| 2023-2024|   FIRST|   PEd 112|Anatomy and Physi...|      3|          195|  LN195, FN195|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       3.00|           -|PASSED|
|114285| 2023-2024|   FIRST|   GEd 104|The Contemporary ...|      3|          826|  LN826, FN826|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       3.00|           -|PASSED|
|114286| 2023-2024|   FIRST|  NSTP 111|National Service ...|      3|         1003|LN1003, FN1003|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       1.50|           -|PASSED|
|114287| 2023-2024|  SECOND|  Fili 101|Kontekstwalisadon...|      3|         4653|LN4653, FN4653|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.75|           -|PASSED|
|114288| 2023-2024|   FIRST|  Litr 101|Sosyedad at Liter...|      3|         3850|LN3850, FN3850|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.00|           -|PASSED|
|114289| 2023-2024|   FIRST|   GEd 105|Readings in Phili...|      3|         3981|LN3981, FN3981|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.50|           -|PASSED|
|114290| 2023-2024|   FIRST| PATHFit 1|Movement Competen...|      2|         3354|LN3354, FN3354|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       1.50|           -|PASSED|
|114291| 2023-2024|   FIRST|   PEd 113|Principles of Mot...|      3|         3340|LN3340, FN3340|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.25|           -|PASSED|
|114292| 2023-2024|   FIRST|   GEd 106|Purposive Communi...|      3|         4224|LN4224, FN4224|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.50|           -|PASSED|
|114293| 2023-2024|  SECOND|  NSTP 121|National Service ...|      3|         1003|LN1003, FN1003|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.00|           -|PASSED|
|114294| 2023-2024|  SECOND|   GEd 102|Mathematics in th...|      3|         2214|LN2214, FN2214|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.50|           -|PASSED|
|114295| 2023-2024|  SECOND|   PEd 123|Emergency Prepare...|      3|         2353|LN2353, FN2353|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.25|           -|PASSED|
|114296| 2023-2024|  SECOND| PATHFit 2|Exercise-Based Fi...|      2|         4583|LN4583, FN4583|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.25|           -|PASSED|
|114297| 2023-2024|  SECOND|   GEd 101|Understanding the...|      3|         4187|LN4187, FN4187|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       1.50|           -|PASSED|
|114298| 2023-2024|  SECOND|   GEd 103|Life and Works of...|      3|         3981|LN3981, FN3981|152608|LN152608, FN152608|NASUGBU|College of Teache...|Bachelor of Physi...|       2.25|           -|PASSED|
+------+----------+--------+----------+--------------------+-------+-------------+--------------+------+------------------+-------+--------------------+--------------------+-----------+------------+------+
only showing top 22 rows

In [72]:
df.createOrReplaceTempView('sample_data_ai_with_id')

show_data = spark.sql("""SELECT schoolyear, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY schoolyear 
                         ORDER BY schoolyear DESC""")

show_data.show(50)

+-----------+----------+
| schoolyear|occurences|
+-----------+----------+
|  2024-2025|    392358|
|2023-2024_X|         4|
|  2023-2024|    698500|
|  2022-2023|    551385|
|  2021-2022|    306076|
|  2020-2021|     45721|
|  2019-2022|         1|
|  2019-2020|     10394|
|  2018-2019|      2550|
|  2017-2018|       759|
|  2016-2017|       606|
|  2015-2016|       681|
|  2014-2015|       266|
|  2013-2014|       103|
|  2012-2013|        99|
|  2011-2012|        56|
|  2010-2011|        36|
|  2009-2010|        21|
|  2008-2009|        12|
|  2007-2008|        17|
|  2006-2007|         2|
|  2005-2006|         3|
|  2004-2005|        23|
|       2004|         1|
|  2003-2004|        23|
|  2002-2003|        12|
|  2001-2002|         4|
|  2000-2001|         8|
|  1999-2000|         4|
+-----------+----------+

FILTERING schoolyear AND REMOVE/REPLACE UNWANTED VALUES

In [73]:
from pyspark.sql.functions import regexp_extract, col

# 1. Extract the YYYY-YYYY pattern (handles cases with trailing _X)
df = df.withColumn(
    "schoolyear", regexp_extract(col("schoolyear"), r"(\d{4}-\d{4})", 1)
)

# 2. Filter out rows WITHOUT the YYYY-YYYY pattern
schoolyear_regex = r"^\d{4}-\d{4}$"  # Regex for exact YYYY-YYYY format
df = df.filter(col("schoolyear").rlike(schoolyear_regex))  # Keep only matching rows

In [74]:
df.createOrReplaceTempView('sample_data_ai_with_id')

show_data = spark.sql("""SELECT schoolyear, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY schoolyear 
                         ORDER BY schoolyear DESC""")

show_data.show(50)

+----------+----------+
|schoolyear|occurences|
+----------+----------+
| 2024-2025|    392358|
| 2023-2024|    698504|
| 2022-2023|    551385|
| 2021-2022|    306076|
| 2020-2021|     45721|
| 2019-2022|         1|
| 2019-2020|     10394|
| 2018-2019|      2550|
| 2017-2018|       759|
| 2016-2017|       606|
| 2015-2016|       681|
| 2014-2015|       266|
| 2013-2014|       103|
| 2012-2013|        99|
| 2011-2012|        56|
| 2010-2011|        36|
| 2009-2010|        21|
| 2008-2009|        12|
| 2007-2008|        17|
| 2006-2007|         2|
| 2005-2006|         3|
| 2004-2005|        23|
| 2003-2004|        23|
| 2002-2003|        12|
| 2001-2002|         4|
| 2000-2001|         8|
| 1999-2000|         4|
+----------+----------+

In [75]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(80)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|       1.50|           -|    452457|
|       1.25|           -|    317624|
|       2.00|           -|    289284|
|       1.75|           -|    259850|
|       2.50|           -|    177260|
|       2.25|           -|    160236|
|       3.00|           -|    118116|
|       2.75|           -|     90523|
|       1.00|           -|     63412|
|        INC|        3.00|     35140|
|        INC|        5.00|     16175|
|       5.00|           -|     15352|
|        DRP|           -|      2902|
|        INC|           -|      1867|
|         OG|           -|      1581|
|        INC|        2.50|      1469|
|        INC|        2.75|      1437|
|        INC|        2.00|      1294|
|        INC|        2.25|       904|
|        INC|        1.75|       893|
|        INC|        1.50|       847|
|        INC|        1.25|       310|
|     PASSED|           -|       255|
|       4.00|        3.00|       117|
|       1.25|          --|        62|
|        INC|        1.00|        51|
|       1.50|          --|        37|
|          P|           -|        27|
|       4.00|        5.00|        25|
|       2.50|        null|        22|
|       3.00|        null|        18|
|       1.75|          --|        15|
|          -|           -|        15|
|       2.75|        null|        14|
|         --|          --|        13|
|        INC|          --|        12|
|       1.00|          --|        12|
|       2.00|        null|        11|
|       3.00|          --|         9|
|       2.25|        null|         9|
|       2.75|          --|         9|
|       2.00|          --|         7|
|       2.50|          --|         7|
|       5.00|          --|         7|
|       1.50|        null|         6|
|        DRP|          --|         5|
|       1.75|        null|         5|
|       2.25|          --|         3|
|        INC|        null|         3|
|       2.00|        1.50|         2|
|          -|        1.00|         1|
|       1.75|         INC|         1|
|       3.50|           -|         1|
|       1.25|        null|         1|
|       1.50|        null|         1|
|       2.75|        1.50|         1|
|       5.00|        null|         1|
|          -|        1.50|         1|
|          -|        1.25|         1|
|       2.00|        null|         1|
|       2.75|         INC|         1|
|          F|           -|         1|
|          -|        2.00|         1|
+-----------+------------+----------+

In [76]:
total_count = df.count()
print(f"Total instances: {total_count}")

Total instances: 2009724

CREATING grade_numeric and grade_classification COLUMNS and inserting values accordingly

In [ ]:
from pyspark.sql.functions import when, col, regexp_extract, lit, coalesce, isnull, format_number

# 1. Filter out rows with invalid grade_final values (excluding "-", "--")
invalid_grades = ["PASSED", "P", "OG", "F"]
df = df.filter(~col("grade_final").isin(invalid_grades))

# 2. Create the 'grade_numeric' column
df = df.withColumn(
    "grade_numeric",
    when(
        (df["grade_reexam"].isNotNull()) & (~df["grade_reexam"].isin(invalid_grades)) & (df["grade_reexam"].rlike(r"^\d+\.?\d*$")),
        regexp_extract(df["grade_reexam"], r"(\d+\.?\d*)", 1)
    ).when(
        (~df["grade_final"].isin("DRP", "INC")) & (df["grade_final"].rlike(r"^\d+\.?\d*$")),
        regexp_extract(df["grade_final"], r"(\d+\.?\d*)", 1)
    ).when(
       (df["grade_final"] == "INC") & (df["grade_reexam"].isNotNull()) & (~df["grade_reexam"].isin(invalid_grades)) & (df["grade_reexam"].rlike(r"^\d+\.?\d*$")),
        regexp_extract(df["grade_reexam"], r"(\d+\.?\d*)", 1)
    ).when(df["grade_final"] == "DRP", 0
    )
    .otherwise(None)
).withColumn("grade_numeric", col("grade_numeric").cast("double")).fillna({"grade_numeric": 5})


# 3. Filter valid numeric grades
valid_numeric_grades = ['1.00','1.25','1.50','1.75','2.00','2.25','2.50','2.75','3.00','4.00','5.00']
df = df.filter(
    when(~df["grade_numeric"].isin(0.0), df["grade_numeric"].isin([float(x) for x in valid_numeric_grades])).otherwise(True)
)


# Format grade_numeric to two decimal places x.xx
df = df.withColumn("grade_numeric", format_number("grade_numeric", 2))

# 4. Create the 'grade_classification' column
df = df.withColumn(
    "grade_classification",
    when(
        (df["grade_final"].rlike(r"^\d+\.\d+$")) & (isnull(df["grade_reexam"]) | df["grade_reexam"].isin(invalid_grades)),
        'NORMAL')
    .when(
        (df["grade_final"].isin(["-", "--"])) & (df["grade_reexam"].rlike(r"^\d+\.\d+$")),
        'NORMAL')
    .when(
        (df["grade_final"] == "INC") & (df["grade_reexam"].rlike(r"^\d+\.\d+$")),
        'INC')
    .when(
        df["grade_final"] == "DRP",
        'DROP')
    .when(
        ((df["grade_final"].rlike(r"^\d+\.\d+$")) & (df["grade_reexam"] == "INC")) |
        ((df["grade_final"].rlike(r"^\d+\.\d+$")) & (df["grade_reexam"].isin(invalid_grades))),
        'INC')
    .when(
        (df["grade_final"].rlike(r"^\d+\.\d+$")) & (~df["grade_reexam"].rlike(r"^\d+\.\d+$")),
        'NORMAL')
    .when(
        (df["grade_final"].rlike(r"^\d+\.\d+$")) & (df["grade_reexam"].rlike(r"^\d+\.\d+$")) &
        (col("grade_final").cast("double") > col("grade_reexam").cast("double")),
        'IMPROVED(REEXAM)')
    .when(
        (df["grade_final"].rlike(r"^\d+\.\d+$")) & (df["grade_reexam"].rlike(r"^\d+\.\d+$")) &
        (col("grade_final").cast("double") < col("grade_reexam").cast("double")),
        'FAILED(REEXAM)')
            
    .otherwise("INVALID")
)

In [78]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- schoolyear: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: string (nullable = true)
 |-- instructor_id: string (nullable = true)
 |-- instructor: string (nullable = true)
 |-- srcode: string (nullable = true)
 |-- fullname: string (nullable = true)
 |-- campus: string (nullable = true)
 |-- college: string (nullable = true)
 |-- program: string (nullable = true)
 |-- grade_final: string (nullable = true)
 |-- grade_reexam: string (nullable = true)
 |-- status: string (nullable = true)
 |-- grade_numeric: string (nullable = true)
 |-- grade_classification: string (nullable = false)

In [79]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT grade_final, grade_reexam, grade_numeric, grade_classification, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY grade_final, grade_reexam, grade_numeric, grade_classification
                         ORDER BY occurences DESC""")
show_data.show(80)

+-----------+------------+-------------+--------------------+----------+
|grade_final|grade_reexam|grade_numeric|grade_classification|occurences|
+-----------+------------+-------------+--------------------+----------+
|       1.50|           -|         1.50|              NORMAL|    452457|
|       1.25|           -|         1.25|              NORMAL|    317624|
|       2.00|           -|         2.00|              NORMAL|    289284|
|       1.75|           -|         1.75|              NORMAL|    259850|
|       2.50|           -|         2.50|              NORMAL|    177260|
|       2.25|           -|         2.25|              NORMAL|    160236|
|       3.00|           -|         3.00|              NORMAL|    118116|
|       2.75|           -|         2.75|              NORMAL|     90523|
|       1.00|           -|         1.00|              NORMAL|     63412|
|        INC|        3.00|         3.00|                 INC|     35140|
|        INC|        5.00|         5.00|                 INC|     16175|
|       5.00|           -|         5.00|              NORMAL|     15352|
|        DRP|           -|         0.00|                DROP|      2902|
|        INC|           -|         5.00|             INVALID|      1867|
|        INC|        2.50|         2.50|                 INC|      1469|
|        INC|        2.75|         2.75|                 INC|      1437|
|        INC|        2.00|         2.00|                 INC|      1294|
|        INC|        2.25|         2.25|                 INC|       904|
|        INC|        1.75|         1.75|                 INC|       893|
|        INC|        1.50|         1.50|                 INC|       847|
|        INC|        1.25|         1.25|                 INC|       310|
|       4.00|        3.00|         3.00|    IMPROVED(REEXAM)|       117|
|       1.25|          --|         1.25|              NORMAL|        62|
|        INC|        1.00|         1.00|                 INC|        51|
|       1.50|          --|         1.50|              NORMAL|        37|
|       4.00|        5.00|         5.00|      FAILED(REEXAM)|        25|
|       2.50|        null|         2.50|              NORMAL|        22|
|       3.00|        null|         3.00|              NORMAL|        18|
|          -|           -|         5.00|             INVALID|        15|
|       1.75|          --|         1.75|              NORMAL|        15|
|       2.75|        null|         2.75|              NORMAL|        14|
|         --|          --|         5.00|             INVALID|        13|
|       1.00|          --|         1.00|              NORMAL|        12|
|        INC|          --|         5.00|             INVALID|        12|
|       2.00|        null|         2.00|              NORMAL|        11|
|       2.25|        null|         2.25|              NORMAL|         9|
|       2.75|          --|         2.75|              NORMAL|         9|
|       3.00|          --|         3.00|              NORMAL|         9|
|       2.50|          --|         2.50|              NORMAL|         7|
|       5.00|          --|         5.00|              NORMAL|         7|
|       2.00|          --|         2.00|              NORMAL|         7|
|       1.50|        null|         1.50|              NORMAL|         6|
|       1.75|        null|         1.75|              NORMAL|         5|
|        DRP|          --|         0.00|                DROP|         5|
|       2.25|          --|         2.25|              NORMAL|         3|
|        INC|        null|         5.00|             INVALID|         3|
|       2.00|        1.50|         1.50|    IMPROVED(REEXAM)|         2|
|       2.75|         INC|         2.75|                 INC|         1|
|          -|        1.25|         1.25|              NORMAL|         1|
|       1.25|        null|         1.25|              NORMAL|         1|
|       2.75|        1.50|         1.50|    IMPROVED(REEXAM)|         1|
|          -|        1.00|         1.00|              NORMAL|         1|
|          -|        2.00|         2.00|              NORMAL|         1|
|       1.75|         INC|         1.75|                 INC|         1|
|          -|        1.50|         1.50|              NORMAL|         1|
|       2.00|        null|         2.00|              NORMAL|         1|
|       5.00|        null|         5.00|              NORMAL|         1|
|       1.50|        null|         1.50|              NORMAL|         1|
+-----------+------------+-------------+--------------------+----------+

In [80]:
total_count = df.count()
print(f"Total instances: {total_count}")

Total instances: 2007859

FILTER OUT (OG, P, Passed, F, DRP)

In [81]:
# Filter out the data that is not included on the list
allowed_data = ['1.00','1.25','1.50',
                '1.75','2.00','2.25',
                '2.50','2.75','3.00',
                '4.00','5.00', 'INC', 'DRP']

In [82]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT program, count(*)
                         FROM sample_data_ai_with_id
                         WHERE program = 'NULL'
                         GROUP BY program """)
show_data.show(50)

+-------+--------+
|program|count(1)|
+-------+--------+
|   NULL|    8180|
+-------+--------+

DROP programs with "NULL" strings

In [83]:
df = df.filter(col('program') != 'NULL')

CHECK FOR NULL STRINGS IN program COLUMN

In [85]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT program, count(*)
                         FROM sample_data_ai_with_id
                         WHERE program = 'NULL'
                         GROUP BY program """)
show_data.show(50)

+-------+--------+
|program|count(1)|
+-------+--------+
+-------+--------+

In [61]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         WHERE grade_reexam = '-' OR grade_reexam = '--' OR grade_reexam = 'NULL' OR grade_reexam IS NULL
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(50)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|       1.50|           -|    452457|
|       1.25|           -|    317624|
|       2.00|           -|    289284|
|       1.75|           -|    259850|
|       2.50|           -|    177260|
|       2.25|           -|    160236|
|       3.00|           -|    118116|
|       2.75|           -|     90523|
|       1.00|           -|     63412|
|       5.00|           -|     15352|
|        DRP|           -|      2902|
|        INC|           -|      1867|
|       1.25|          --|        62|
|       1.50|          --|        37|
|       2.50|        null|        22|
|       3.00|        null|        18|
|          -|           -|        15|
|       1.75|          --|        15|
|       2.75|        null|        14|
|         --|          --|        13|
|       1.00|          --|        12|
|        INC|          --|        12|
|       2.00|        null|        11|
|       3.00|          --|         9|
|       2.25|        null|         9|
|       2.75|          --|         9|
|       2.00|          --|         7|
|       2.50|          --|         7|
|       5.00|          --|         7|
|       1.50|        null|         6|
|       1.75|        null|         5|
|        DRP|          --|         5|
|        INC|        null|         3|
|       2.25|          --|         3|
|       1.25|        null|         1|
+-----------+------------+----------+

ONLY ALLOW NUMERICAL STRINGS IN GRADE_REEXAM COLUMN

In [62]:
df = df.withColumn(
    "grade_reexam", when(col("grade_reexam").rlike("^[0-9]*\.?[0-9]+$"), col("grade_reexam")).otherwise(None)
)

In [63]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         WHERE grade_final = 'INC' OR grade_final = 'DRP' 
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(22)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|        INC|        3.00|     35140|
|        INC|        5.00|     16175|
|        DRP|        null|      2907|
|        INC|        null|      1882|
|        INC|        2.50|      1469|
|        INC|        2.75|      1437|
|        INC|        2.00|      1294|
|        INC|        2.25|       904|
|        INC|        1.75|       893|
|        INC|        1.50|       847|
|        INC|        1.25|       310|
|        INC|        1.00|        51|
+-----------+------------+----------+

In [64]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT grade_final, grade_reexam, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id
                         GROUP BY grade_final, grade_reexam 
                         ORDER BY occurences DESC""")
show_data.show(22)

+-----------+------------+----------+
|grade_final|grade_reexam|occurences|
+-----------+------------+----------+
|       1.50|        null|    452501|
|       1.25|        null|    317687|
|       2.00|        null|    289303|
|       1.75|        null|    259871|
|       2.50|        null|    177289|
|       2.25|        null|    160248|
|       3.00|        null|    118143|
|       2.75|        null|     90547|
|       1.00|        null|     63424|
|        INC|        3.00|     35140|
|        INC|        5.00|     16175|
|       5.00|        null|     15360|
|        DRP|        null|      2907|
|        INC|        null|      1882|
|        INC|        2.50|      1469|
|        INC|        2.75|      1437|
|        INC|        2.00|      1294|
|        INC|        2.25|       904|
|        INC|        1.75|       893|
|        INC|        1.50|       847|
|        INC|        1.25|       310|
|       4.00|        3.00|       117|
+-----------+------------+----------+
only showing top 22 rows

In [65]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT schoolyear, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         WHERE schoolyear = '2023-2024_x' 
                         GROUP BY schoolyear
                         ORDER BY occurences DESC""")
show_data.show(22)

+----------+----------+
|schoolyear|occurences|
+----------+----------+
+----------+----------+

In [66]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT campus, COUNT(*) AS occurences 
                         FROM sample_data_ai_with_id 
                         GROUP BY campus
                         ORDER BY occurences DESC""")

show_data.show()

+---------+----------+
|   campus|occurences|
+---------+----------+
|ALANGILAN|    745300|
|       PB|    530649|
|  NASUGBU|    239742|
|   MALVAR|    189020|
|     LIPA|    155627|
|  ROSARIO|     41678|
|   LEMERY|     36747|
|  BALAYAN|     27566|
| SAN JUAN|     16036|
|     LOBO|     12597|
|     null|      8162|
|   MABINI|      4735|
+---------+----------+

In [67]:
from pyspark.sql.types import DecimalType

filtered_df = df.withColumn("credits", df.credits.cast("int"))\
    .withColumn("grade_numeric", df.grade_numeric.cast(DecimalType(5, 2)))

In [68]:
filtered_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- schoolyear: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- instructor_id: string (nullable = true)
 |-- instructor: string (nullable = true)
 |-- srcode: string (nullable = true)
 |-- fullname: string (nullable = true)
 |-- campus: string (nullable = true)
 |-- college: string (nullable = true)
 |-- program: string (nullable = true)
 |-- grade_final: string (nullable = true)
 |-- grade_reexam: string (nullable = true)
 |-- status: string (nullable = true)
 |-- grade_numeric: decimal(5,2) (nullable = true)
 |-- grade_classification: string (nullable = false)

CREATE A TEMPORARY DATABASE THAT WRITES THE FILTERED_DF INTO POSTGRESQL

In [ ]:
'''filtered_df.write \
        .format("jdbc") \
        .option("url", jdbc_url) \
        .option("dbtable", "filtered_data_with_id") \
        .option("user", properties["user"]) \
        .option("password", properties["password"]) \
        .option("driver", properties["driver"]) \
        .mode("overwrite") \
        .save()'''

In [70]:
df.createOrReplaceTempView('sample_data_ai_with_id')
show_data = spark.sql("""SELECT grade_numeric
                         FROM sample_data_ai_with_id """)
show_data.show(22)

+-------------+
|grade_numeric|
+-------------+
|         2.00|
|         1.50|
|         1.00|
|         1.25|
|         1.50|
|         1.75|
|         1.50|
|         1.25|
|         1.25|
|         1.25|
|         1.50|
|         1.00|
|         1.25|
|         1.50|
|         1.50|
|         1.25|
|         2.50|
|         2.50|
|         2.75|
|         2.25|
|         2.50|
|         3.00|
+-------------+
only showing top 22 rows

In [71]:
filtered_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- schoolyear: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- instructor_id: string (nullable = true)
 |-- instructor: string (nullable = true)
 |-- srcode: string (nullable = true)
 |-- fullname: string (nullable = true)
 |-- campus: string (nullable = true)
 |-- college: string (nullable = true)
 |-- program: string (nullable = true)
 |-- grade_final: string (nullable = true)
 |-- grade_reexam: string (nullable = true)
 |-- status: string (nullable = true)
 |-- grade_numeric: decimal(5,2) (nullable = true)
 |-- grade_classification: string (nullable = false)

PSEUDOCODE FOR CREATING TRAINING DFs

In [ ]:

converted_df = df.franz

for program in converted_df.program:
    for srcode in converted_df.srcode:
        for schoolyear_semester in converted_df.schoolyear_semester:
            for avg_type in converted_df.avg_type:
                #compute GWA
                if min:
                    #use min_grades
                    #insert min_avg
                    pass
                elif mid:
                    #use mid_grades
                    #insert mid_avg
                    pass
                else:
                    #use max_grades
                    #insert max_avg
                    pass
                
    df.create()