In [7]:
#import needed libraries
from sqlalchemy import create_engine
import pandas as pd
import os
import time
#get password from environmnet var
#pwd = os.environ['PGPASS']
#uid = os.environ['PGUID']
pwd = 'password'
uid = 'postgres'
server = "localhost"
db = "dione"
port = "5433"
#
engine = create_engine(f'postgresql://{uid}:{pwd}@{server}:{port}/{db}')

In [8]:
df = pd.read_sql('Select * from grades', engine)
df.head()

,id,schoolyear,semester,code,description,units,instructor_id,instructor_name,srcode,fullname,campus,program,major,yearlevel,curriculum,class_section,grade_final,grade_reexam,status
0,122468,2023-2024,SECOND,CpE 401,Computer Programming 1,1,-10562,"LN-10562, FN-10562",23255,"LN23255, FN23255",ALANGILAN,BS Mechatronics Engineering,None,FIRST,2023-2024,MEXE-1201,1.50,-,PASSED
1,122469,2023-2024,SECOND,ENGG 402,Engineering Drawing,1,-10488,"LN-10488, FN-10488",23255,"LN23255, FN23255",ALANGILAN,BS Mechatronics Engineering,None,FIRST,2023-2024,MEXE-1201,1.50,-,PASSED
2,122470,2023-2024,SECOND,GEd 104,The Contemporary World,3,-12044,"LN-12044, FN-12044",23255,"LN23255, FN23255",ALANGILAN,BS Mechatronics Engineering,None,FIRST,2023-2024,MEXE-1201,2.25,-,PASSED
3,122471,2023-2024,SECOND,GEd 108,Art Appreciation,3,-12773,"LN-12773, FN-12773",23255,"LN23255, FN23255",ALANGILAN,BS Mechatronics Engineering,None,FIRST,2023-2024,MEXE-1201,1.75,-,PASSED
4,122472,2023-2024,SECOND,GEd 109,"Science, Technology and Society",3,-11556,"LN-11556, FN-11556",23255,"LN23255, FN23255",ALANGILAN,BS Mechatronics Engineering,None,FIRST,2023-2024,MEXE-1201,1.75,-,PASSED

In [17]:
for index, row in df.head(50).iterrows():
    mod = pd.DataFrame(row.to_frame().T)
    mod.to_sql(f"grades_streaming", engine, if_exists='append', index=False)
    print("Row Inserted " + mod.id.astype(str) + ' ' + mod.srcode.astype(str).astype(str))
    time.sleep(3)

0    Row Inserted 122468 23255
dtype: object
1    Row Inserted 122469 23255
dtype: object
2    Row Inserted 122470 23255
dtype: object
3    Row Inserted 122471 23255
dtype: object
4    Row Inserted 122472 23255
dtype: object
5    Row Inserted 122473 23255
dtype: object
6    Row Inserted 122474 23255
dtype: object
7    Row Inserted 122475 23255
dtype: object
8    Row Inserted 122476 23255
dtype: object
9    Row Inserted 122477 23255
dtype: object
10    Row Inserted 122478 23255
dtype: object
11    Row Inserted 122479 23255
dtype: object
12    Row Inserted 122480 23255
dtype: object
13    Row Inserted 122481 23255
dtype: object
14    Row Inserted 122482 23255
dtype: object
15    Row Inserted 122483 23255
dtype: object
16    Row Inserted 122484 23255
dtype: object
17    Row Inserted 122485 23255
dtype: object
18    Row Inserted 122486 23255
dtype: object
19    Row Inserted 122487 23255
dtype: object
20    Row Inserted 122488 23255
dtype: object
21    Row Inserted 122489 23255
dtype: object
22    Row Inserted 122490 23255
dtype: object
23    Row Inserted 122491 23255
dtype: object
24    Row Inserted 122492 23255
dtype: object
25    Row Inserted 122493 23255
dtype: object
26    Row Inserted 122494 23255
dtype: object
27    Row Inserted 122495 23255
dtype: object
28    Row Inserted 122496 23255
dtype: object
29    Row Inserted 122497 23255
dtype: object
30    Row Inserted 122498 23256
dtype: object
31    Row Inserted 122499 23256
dtype: object
32    Row Inserted 122500 23256
dtype: object
33    Row Inserted 122501 23271
dtype: object
34    Row Inserted 122502 23256
dtype: object
35    Row Inserted 122503 23256
dtype: object
36    Row Inserted 122504 23256
dtype: object
37    Row Inserted 122505 23256
dtype: object
38    Row Inserted 122506 23256
dtype: object
39    Row Inserted 122507 23256
dtype: object
40    Row Inserted 122508 23257
dtype: object
41    Row Inserted 122509 23257
dtype: object
42    Row Inserted 122510 23257
dtype: object
43    Row Inserted 122511 23257
dtype: object
44    Row Inserted 122512 23257
dtype: object
45    Row Inserted 122513 23257
dtype: object
46    Row Inserted 122514 23257
dtype: object
47    Row Inserted 122515 23257
dtype: object
48    Row Inserted 122516 23257
dtype: object
49    Row Inserted 122517 23257
dtype: object