In [7]:
#import needed libraries
from sqlalchemy import create_engine
import pandas as pd
import os
import time
#get password from environmnet var
#pwd = os.environ['PGPASS']
#uid = os.environ['PGUID']
pwd = 'password'
uid = 'postgres'
server = "localhost"
db = "local_student_grades"
port = "5432"
#
engine = create_engine(f'postgresql://{uid}:{pwd}@{server}:{port}/{db}')

In [8]:
df = pd.read_sql('Select * from raw_student_grades', engine)
df.head()

,id,schoolyear,semester,code,description,credits,instructor_id,instructor,srcode,fullname,campus,college,program,grade_final,grade_reexam,status
0,1,2021-2022,FIRST,Educ 504,Philosophical and Social Dimensions of Education,3,2913,"LN2913, FN2913",118442,"LN118442, FN118442",PB,Graduate School,Master of Arts in Education major in Mathemati...,1.00,-,PASSED
1,2,2021-2022,FIRST,Math 501,Pre-Calculus Mathematics (Algebra and Trigonom...,3,2576,"LN2576, FN2576",118442,"LN118442, FN118442",PB,Graduate School,Master of Arts in Education major in Mathemati...,1.00,-,PASSED
2,3,2021-2022,FIRST,Educ 501,Research Methodology,3,3615,"LN3615, FN3615",118442,"LN118442, FN118442",PB,Graduate School,Master of Arts in Education major in Mathemati...,1.25,-,PASSED
3,4,2022-2023,FIRST,Math 506,Differential Equations,3,5438,"LN5438, FN5438",118442,"LN118442, FN118442",PB,Graduate School,Master of Arts in Education major in Mathemati...,1.25,-,PASSED
4,5,2022-2023,FIRST,Math 502,Modern Plane Geometry,3,1844,"LN1844, FN1844",118442,"LN118442, FN118442",PB,Graduate School,Master of Arts in Education major in Mathemati...,1.25,-,PASSED

In [9]:
for index, row in df.head(50).iterrows():
    mod = pd.DataFrame(row.to_frame().T)
    mod.to_sql(f"raw_student_grades_streaming", engine, if_exists='append', index=False)
    print("Row Inserted " + mod.id.astype(str) + ' ' + mod.srcode.astype(str).astype(str))
    time.sleep(3)

0    Row Inserted 1 118442
dtype: object
1    Row Inserted 2 118442
dtype: object
2    Row Inserted 3 118442
dtype: object
3    Row Inserted 4 118442
dtype: object
4    Row Inserted 5 118442
dtype: object
5    Row Inserted 6 118442
dtype: object
6    Row Inserted 7 118442
dtype: object
7    Row Inserted 8 118442
dtype: object
8    Row Inserted 9 118442
dtype: object
9    Row Inserted 10 118442
dtype: object
10    Row Inserted 11 118442
dtype: object
11    Row Inserted 12 90100
dtype: object
12    Row Inserted 13 90100
dtype: object
13    Row Inserted 14 90100
dtype: object
14    Row Inserted 15 90100
dtype: object
15    Row Inserted 16 90100
dtype: object
16    Row Inserted 17 90100
dtype: object
17    Row Inserted 18 90100
dtype: object
18    Row Inserted 19 90100
dtype: object
19    Row Inserted 20 90100
dtype: object
20    Row Inserted 21 90100
dtype: object
21    Row Inserted 22 90100
dtype: object
22    Row Inserted 23 90100
dtype: object
23    Row Inserted 24 90100
dtype: object
24    Row Inserted 25 90100
dtype: object
25    Row Inserted 26 90100
dtype: object
26    Row Inserted 27 90100
dtype: object
27    Row Inserted 28 90100
dtype: object
28    Row Inserted 29 90100
dtype: object
29    Row Inserted 30 90100
dtype: object
30    Row Inserted 31 143658
dtype: object
31    Row Inserted 32 143658
dtype: object
32    Row Inserted 33 143658
dtype: object
33    Row Inserted 34 143658
dtype: object
34    Row Inserted 35 143658
dtype: object
35    Row Inserted 36 143658
dtype: object
36    Row Inserted 37 143658
dtype: object
37    Row Inserted 38 143658
dtype: object
38    Row Inserted 39 143658
dtype: object
39    Row Inserted 40 143658
dtype: object
40    Row Inserted 41 143658
dtype: object
41    Row Inserted 42 143658
dtype: object
42    Row Inserted 43 143658
dtype: object
43    Row Inserted 44 143658
dtype: object
44    Row Inserted 45 143658
dtype: object
45    Row Inserted 46 143658
dtype: object
46    Row Inserted 47 143658
dtype: object
47    Row Inserted 48 143658
dtype: object
48    Row Inserted 49 143658
dtype: object
49    Row Inserted 50 143658
dtype: object